@keyframes flipRightIcon {
  0% {
    transform: translateX(0) translateY(-50%);
  }
  50% {
    transform: translateX(100%) translateY(-50%);
    opacity: 0;
  }
  51% {
    transform: translateX(-100%) translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(-50%);
  }
}

@keyframes flipDownIcon {
  0% {
    transform: translateY(0) translateX(-50%);
  }
  50% {
    transform: translateY(100%) translateX(-50%);
    opacity: 0;
  }
  51% {
    transform: translateY(-100%) translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(-50%);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}