// Colors

$gray-1: rgba(255,255,255,0.9);
$gray-2: #F5F5F5;
$gray-3: #D5D8DA;
$gray-4: #D8D8D8;
$gray-5: #58595B;
$gray-6: #919191;
$gray-7: #EDF0F3;

$white-1: #fff;

$black-1: #000;

$brand-1: #5F1D1E;
$brand-2: #75191B;
$brand-3: #FF4B55;

$blue-1: #3D95BC;